.policy {
  background-color: $black;
  color: white;
  padding: 64px 20px 84px 20px;
  position: relative;
  &__back {
    padding: 10px 45px;
    border: none;
    background-color: $orange;
    color: $white;

    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    &:hover {
      background-color: white;
      color: $orange;
      text-decoration: none;
    }
  }
  &__back-down {
    padding: 10px 45px;
    border: none;
    background-color: $orange;
    color: $white;

    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    &:hover {
      background-color: white;
      color: $orange;
      text-decoration: none;
    }
  }
  &__title {
    margin-top: 25px;
    font-size: 38px;
    font-weight: 700;
  }
  &__subtitle {
    margin-top: 40px;
    font-size: 28px;
    font-weight: 700;
  }
  &__content {
    margin-top: 10px;
    font-size: 20px;
    line-height: 200%;
    font-weight: 500;
  }
  &__body {
    margin-top: 10px;
    font-size: 16px;
    line-height: 180%;
    font-weight: 500;
  }
}