@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .footer {
    &__security {
      a {
        &:hover {
          color: $orange;
          text-decoration: none;
        }
      }
    }
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .footer {
    font-size: 13px;
  }
}