@media (max-width: 1200px) {
  .skills {
    &__items {
      grid-template-columns: repeat(3, 270px);
      grid-template-rows: repeat(3, 280px);
      grid-auto-rows: 280px;
      gap: 13px;
      padding: 60px 10px 0 10px;
      justify-content: center;
    }
    &__ratings {
      grid-template-columns: repeat(2, 350px);
      justify-content: center;
    }
  }
}
@media (max-width: 992px) {
  .skills {
    &__items {
      grid-template-columns: repeat(3, 233px);
      grid-template-rows: repeat(3, 300px);
      grid-auto-rows: 300px;
      gap: 10px;
      padding: 60px 10px 0 10px;
      justify-content: center;
    }
    &__ratings {
      grid-template-columns: repeat(2, 330px);
      grid-template-rows: repeat(2, 70px);
      justify-content: center;
      &-item {
        grid-template-columns: 200px 35px;
      }
      &-line {
        width: 330px;
      }
    }
  }
}
@media (max-width: 768px) {
  .skills {
    padding-top: 70px;
    &__items {
      grid-template-columns: repeat(2, 260px);
      grid-template-rows: repeat(5, 300px);
      grid-auto-rows: 300px;
      gap: 10px;
      padding: 40px 10px 0 10px;
      justify-content: center;
    }
    &__ratings {
      grid-template-columns: repeat(1, 400px);
      grid-template-rows: repeat(6, 70px);
      justify-content: center;
      &-item {
        grid-template-columns: 200px 35px;
      }
      &-line {
        width: 400px;
      }
    }
  }
}
@media (max-width: 576px) {
  .skills {
    padding-top: 60px;
    &__items {
      grid-template-columns: 300px;
      grid-template-rows: repeat(9, 270px);
      grid-auto-rows: 270px;
      gap: 15px;
    }
    &__ratings {
      grid-template-columns: repeat(1, 80%);
      grid-template-rows: repeat(6, 70px);
      &-line {
        width: 100%;
      }
    }
  }
}