.sidepanel {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
  z-index: 3;
  top: 230px;
  left: 20px;
  align-items: center;
  &__link:hover {
    width: 25px;
  }
  &__divider {
    height: 70px;
    width: 2px;
    background-color: $white;
  }
  &__text {
    color: $white;
    width: 25px;
    height: 150px;
    font-weight: 700;
    font-size: 16px;
    span {
      display: block;
      transform: rotate(-90deg) translate(-13%, -264%);
      width: 150px;
    }
  }
}