@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .btn {
    &:hover {
      background-color: $orange;
    }
    &_inv {
      &:hover {
        color: $white;
      }
    }
    &_laptop {
      &:hover {
        background: $orange;
        color: $white;
      }
    }
    &_contacts {
      padding: 12px 55px;
      &:hover {
        color: $white;
      }
    }
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .btn {
    &_contacts {
      padding: 12px 25px;
      width: 175px;
      order: 2;
    }
  }
}